<div class="boxes-area bg-f5f7fa">
    <div class="container">
        <div class="row justify-content-center align-items-stretch">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-box-item">
                    <div class="icon">
                        <i class="flaticon-brain-process"></i>
                        <img src="assets/img/icon-shape.png" alt="image">
                    </div>
                    <h3>المهارات المقدمة من معهد إبدأ التدريب</h3>
                    <p>يقدم معهد إبدأ التدريب اقوى دورات تدريبة فى مجالات عدة من مستوى المبتدائين – الى مستوى الاحتراف .</p>
<!--                    <a routerLink="/membership-levels" class="link-btn">Start Now!</a>-->
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-box-item">
                    <div class="icon">
                        <i class="flaticon-computer"></i>
                        <img src="assets/img/icon-shape.png" alt="image">
                    </div>
                    <h3>الدورات فى معهد إبدأ التدريب</h3>
                    <p>يتميز معهد إبدأ التدريب باقو ى الدورات فى مجالات عدة مثل تعلم فن الجرافيك - وفن التصوير .</p>
<!--                    <a routerLink="/membership-levels" class="link-btn">Start Now!</a>-->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box-item">
                    <div class="icon">
                        <i class="flaticon-shield-1"></i>
                        <img src="assets/img/icon-shape.png" alt="image">
                    </div>
                    <h3>الدراسة فى معهد إبدأ التدريب</h3>
                    <p>تتميز الدراسة فى معهد إبدأ التدريب بالتعلم على احدث الاجهزة التكنولوجية .</p>
<!--                    <a routerLink="/membership-levels" class="link-btn">Start Now!</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
