<div class="feedback-area bg-fffaf3 ptb-100">
    <div class="container">
        <div class="feedback-slides-two">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>التعلم على يد اكاديمين متخصصين .</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/review1.jpeg" class="rounded-circle" alt="image">
                            <div class="title">
                                <h3>نوف العتيبي</h3>
<!--                                <span>Python Developer</span>-->
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                      <p>إبدأ التدريب معهد أكاديمى متطور فى شتى المجالات وبه احداث الاجهزة</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/review3.jpeg" class="rounded-circle" alt="image">
                            <div class="title">
                              <h3>ريم الضويمر</h3>
<!--                                <span>PHP Developer</span>-->
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>المتابعة الجيدة مع الطلاب وتعلمهم كل ماهو جديد فى وقت قياسى .</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/review2.jpeg" class="rounded-circle" alt="image">
                            <div class="title">
                              <h3>فطيمة النمر</h3>
<!--                                <span>QA Developer</span>-->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="divider2"></div>
    <div class="divider3"></div>
    <div class="shape2"><img src="assets/img/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="image"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="image"></div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>
