<div class="funfacts-area-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-funfacts-item">
            <h3><span [countUp]="20">00</span></h3>
            <p>عدد الدورات</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-funfacts-item">
            <h3><span [countUp]="506">00</span></h3>
            <p>عدد الطلاب</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-funfacts-item">
            <h3><span [countUp]="100">00</span>%</h3>
            <p>معدل الرضا</p>
          </div>
        </div>
      </div>
    </div>
</div>
