<div class="container">



    <!-- header -->
    <!-- <app-header-light3></app-header-light3> -->
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">

        <div class="section-full content-inner shop-account">
            <!-- Product -->
<app-navbar ></app-navbar>
          
            <div class="container">
                
                <div class="row mb-5">
                    
                    <div class="col-lg-8 col-md-6 m-b30 formcenter" >
                        <div class="p-a30 border-1 seth">
                            <div class="tab-content nav">
                                <form id="login"   [formGroup]="loginForm" (ngSubmit)="login()" class="tab-pane active col-12 p-a0 " dir="rtl" >
                                    <h4 class="font-weight-700  text-center">تسجيل الدخول</h4>
                                    <!-- <p class="font-weight-600 mb-5  text-center" >إذا كان لديك حساب معنا ، يرجى تسجيل الدخول .</p> -->
                                    <a dir="ltr" [routerLink]="['/register']" [ngStyle]="{'font-size':'18px' }"> إنشاء حساب جديد  </a>
                                    
                                    <div class="row mt-5 mb-5">
                                        <div class="col-sm-5">
                                            <div class="form-group" dir="rtl">
                                                <label class="font-weight-600  pull-right m-2"  dir="rtl" >  البريد الإلكتروني*</label>
                                                
                                                
                                                <input name="email" required="" class="form-control "
                                                [ngStyle]="{ 'text-align': 'right'}"  placeholder="البريد الإلكتروني " 
                                                  type="email"  formControlName="email">
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="font-weight-600  pull-right m-2"  dir="rtl" >كلمة المرور *</label>
                                                <input  required="" 
                                                formControlName="password" class="form-control "
                                                 placeholder=" كلمه المرور"
                                                 type="password"
                                                 >
                                            </div>
                                        </div>
                                        <div class="col-sm-2 mt-5">
                                            <div class="form-group">
                                            <div class=""  dir="rtl">
                                                <button class="btn btn-primary "
                                                type="submit"	> تسجيل</button>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <a data-toggle="tab" [routerLink]="['/forget-Password']"><i class="fa fa-unlock-alt mt-5"></i> نسيت كلمه المرور</a> 
                                    <br>									
                                    <a data-toggle="tab" [routerLink]="['/Change-Password']"><i class="fa fa-unlock-alt  mb-5"></i> تغيير الرقم السري </a> 
                                </form>
                                <form    [formGroup]="SendCode" (ngSubmit)="sendMyCode()" id="forgot-password" class="tab-pane fade  col-12 p-a0" dir="rtl">
                                    <h4 class="font-weight-700 hll">هل نسيت كلمة المرور ؟</h4>
                                    <p class="font-weight-600 text-center">لإستعادة كلمة المرور سوف نقوم بارسال كود خاص بك </p>
                                    <!-- <p class="font-weight-600 text-center">من فضلك لا تقم بمشاركة الكود  </p> -->
                                    
                                    <div class="form-group">
                                        <label class="font-weight-700  pull-right" [ngStyle]="{ 'text-align' : 'right'}" >البريد الإلكتروني * </label>
                                        <input FormConto required="" formControlName="toEmail" class="form-control" placeholder="البريد الإلكتروني " type="email">
                                    </div>
                                    <div class="text-center" dir="ltr"> 
                                        <a class="site-button outline gray button-lg radius-no m-2" data-toggle="tab" href="#login">رجوع </a>
                                        <button type="submit" class="site-button  button-lg radius-no">حـفـظ</button>
                                    </div>
                                    <!-- <p class="text-center"> <a> اضغط هنا لإرسال الكود </a></p> -->
                                    <a data-toggle="tab" href="#sendCode"><i class="fa fa-unlock-alt"></i>اضغط هنا لإرسال الكود</a> 

                                </form>
                            <!--  -->
                                <form  [formGroup]="MyDataTOchange" (ngSubmit)="ForGEtPassWOrd()" 
                                  id="sendCode" class="tab-pane fade  col-12 p-a0" dir="rtl">
                                
                                    <div class="form-group">
                                        <label class="font-weight-700  pull-right" >البريد الإلكتروني * </label>
                                        <input FormConto required="" formControlName="email" class="form-control" placeholder="البريد الإلكتروني " type="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-600  pull-right"  dir="rtl" >الكود الخاص بك *</label>
                                        <input  required="" 
                                        formControlName="code" class="form-control "
                                         placeholder=" ادخل الكود الخاص بك"
                                         type="number"
                                         >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-600  pull-right"  dir="rtl" >الرقم السري الجديد *</label>
                                        <input  required="" 
                                        formControlName="newPassword" class="form-control "
                                         placeholder=" الرقم السري الجديد"
                                         type="password"
                                         >
                                    </div>
                                    <div class="text-center" dir="ltr"> 
                                        <a class="site-button outline gray button-lg radius-no m-2" data-toggle="tab" href="#login">رجوع </a>
                                        <button type="submit" class="site-button  button-lg radius-no">حـفـظ</button>
                                    </div>

                                </form>
                                <!-- to change password -->
                                <form  
                                [formGroup]="changepassword" (ngSubmit)="Changepass()"  
                                  id="change-password" class="tab-pane fade  col-12 p-a0" dir="rtl">
                                
                                    <div class="form-group">
                                        <label class="font-weight-700  pull-right" >البريد الإلكتروني * </label>
                                        <input  required="" formControlName="email" class="form-control" placeholder="البريد الإلكتروني " type="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-600  pull-right"  dir="rtl" >الرقم السري القديم *</label>
                                        <input  required="" 
                                        formControlName="password" class="form-control "
                                         placeholder=" ادخل الرقم السري القديم"
                                         type="password"
                                         >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-600  pull-right"  dir="rtl" >الرقم السري الجديد *</label>
                                        <input  required="" 
                                        formControlName="newPassword" class="form-control "
                                         placeholder=" الرقم السري الجديد"
                                         type="password"
                                         >
                                    </div>
                                    <div class="text-center" dir="ltr"> 
                                        <a class=" m-2" data-toggle="tab" href="#login">رجوع </a>
                                        <button type="submit" class="btn btn_primary">حـفـظ</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <!-- Product END -->
        </div>
        <!-- Shop Service info -->
        <!-- <app-icon-box4></app-icon-box4> -->
        <!-- Shop Service info End -->
    </div>
    <!-- Content END-->
    <!-- Newsletter -->
    <!-- <div class="section-full p-tb50 bg-primary text-white"> -->
        <!-- <app-newsletter2></app-newsletter2> -->
    <!-- </div> -->
   <!-- Footer -->
    <!-- <app-footer13></app-footer13> -->
    <!-- Footer END-->
    <!-- <button class="scroltop fa fa-chevron-up" ></button> -->
    



</div>
