<div class="container">
   <!-- <div class="section-title">
        <span class="sub-title">Education for everyone</span>
        <h2>Affordable Online Courses and Learning Opportunities​</h2>
        <p>Finding your own space and utilize better learning options can result in faster than the traditional ways. Enjoy the beauty of eLearning!</p>
    </div>-->
    <div class="row align-items-stretch">
        <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-lotus"></i>
                </div>
                <h3>رؤيتنا</h3>
                <p>أن نكون الخيار الأول للأفراد، والشركات لتطوير أداء ومهارات المتدربين ورفع كفاءتهم وتحقيق أهدافهم.</p>
<!--                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-distance-learning"></i>
                </div>
                <h3>رسالتنا</h3>
                <p>تقديم بيئة تدريبية متميزة، معززة للقيم الأخلاقية والانتماء الوطني، تسعى لتنمية مهارات وكفاءة الموارد البشرية وجودة مخرجاتها، بتقديم برامج تدريبية مواكبة لتغيرات العصر، وذلك من خلال كوادر تدريبية مؤهلة.</p>
<!--                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-experience"></i>
                </div>
                <h3>هدفنا</h3>
                <p>تمكين المتدربين من قدراتهم ومهاراتهم، والنهوض بهمتهم وتوسيع مداركهم للوصول إلى أهدافهم.
                  تقديم دبلومات و دورات تدريبية متميزة تراعي جميع احتياجات المجتمع بمختلف المجالات، يقدمها مدربين ومدربات متخصصين في بيئة تدريبية متكاملة.</p>
<!--                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>-->
            </div>
        </div>
    </div>
</div>
