
<div class="page-wraper" >

    <!-- header -->
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Our Team -->
			<!-- <a [routerLink]="['/blog-half-img']">
				إضافة دورة تدريبية 
			</a> -->

			<app-success-people></app-success-people>
			<div class="section-full content-inner" dir="rtl">
				<div class="container">
					<div class="row mb-5 mt-5">
						
						<div  class="col-lg-3 col-md-6 col-sm-6" *ngFor="let teach of teachers">
							<div  
								class="dlab-box m-b30 dlab-team1">
								<div class="dlab-media">
									
										<img width="358" height="460" alt="" src="http://pixelserver-001-site19.ctempurl.com/images/{{teach.image}}">
								</div>
								<div class="dlab-info">
									<h4 class="dlab-title text-center">{{teach.name}}</h4>
									<button class="btn btn_danger  text-center" style="color: red;" (click)=deleteone(teach.id)>حذف المعلم</button>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    </div>
   
   
</div>