<div class="container">
    <div class="section-title">
        <span class="sub-title">ماذا يقول</span>
        <h2>ماذا يقول الناس عن إبدأ التدريب</h2>
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
    </div>
    <div class="testimonials-slides">
        <owl-carousel-o [options]="testimonialsSlides">
            <ng-template carouselSlide>
                <div class="single-testimonials-item">
                    <img src="assets/img/review1.jpeg" class="client-img" alt="image">
                  <p>معهد إبدأ التدريب معهد أكاديمى متطور فى شتى المجالات وبه احداث الاجهزة</p>
                  <br />
                  <br />
                  <br />
                    <h3>طيبه العتيبي</h3>
<!--                    <span>Python Developer</span>-->
                    <div class="shape-img">
                        <img src="assets/img/shape4.png" class="shape-1" alt="image">
                        <img src="assets/img/shape14.png" class="shape-2" alt="image">
                        <img src="assets/img/shape7.png" class="shape-3" alt="image">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-testimonials-item">
                    <img src="assets/img/review2.jpeg" class="client-img" alt="image">
                  <p>
                    التعلم على يد اكاديمين متخصصين .</p>
                  <br />
                  <br />
                  <br />
                  <h3>عذاري العازمي</h3>
<!--                    <span>PHP Developer</span>-->
                    <div class="shape-img">
                        <img src="assets/img/shape4.png" class="shape-1" alt="image">
                        <img src="assets/img/shape14.png" class="shape-2" alt="image">
                        <img src="assets/img/shape7.png" class="shape-3" alt="image">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-testimonials-item">
                    <img src="assets/img/review3.jpeg" class="client-img" alt="image">
                  <p>
                    المتابعة الجيدة مع الطلاب وتعلمهم كل ماهو جديد فى وقت قياسى .</p>
                  <br />
                  <br />
                  <br />
                  <h3>مها الحارثي</h3>
                    <div class="shape-img">
                        <img src="assets/img/shape4.png" class="shape-1" alt="image">
                        <img src="assets/img/shape14.png" class="shape-2" alt="image">
                        <img src="assets/img/shape7.png" class="shape-3" alt="image">
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
