<!--
<div class="banner-wrapper" style="background-image: url({{bgImage}});">
  <div class="overlay position-absolute w-100 h-100"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-wrapper-text">
                    <h1>إبدأ التدريب واحدة من أهم الشركات المتخصصة في التدريب</h1>
                    <p>تم تصميمها بمنتهى الاحترافية والمهارة والتكنولوجيا الحديثة لتاهيل الكوادر العربية لمستقبل افضل.</p>
                    <a routerLink="/courses" class="default-btn"><i class="flaticon-quiz"></i>عرض جميع الدورات<span></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape11"><img src="assets/img/banner-shape12.png" alt="image"></div>
    <div class="banner-shape12"><img src="assets/img/banner-shape13.png" alt="image"></div>
    <div class="banner-shape13"><img src="assets/img/banner-shape14.png" alt="image"></div>
</div>
-->

<!--<div class="main-banner" style="background-image: url({{bgImage}});">
  <div class="container-fluid">
    <div class="ms-auto main-banner-content bg-white ps-3 py-3 rounded-top">
      <h1>معهد رؤية المستقبل يرحب بالطلاب الجدد</h1>
      <p>
        يقدم معهد رؤية المستقبل دورات متميزة للمبدئين ومن يرغب فى زيادة كفاءة وتحسين مستوى قدراته المهنية ومن يرغب فى
        زيادة المعرفه بمجالات اخرى غير تخصصه وهنقدر نوصلك لمستوى المحترفين فى وقت قياسى .</p>
      &lt;!&ndash;<a routerLink="/profile-authentication" class="default-btn"><i class="flaticon-user"></i>Join For
        Free<span></span></a>&ndash;&gt;
      &lt;!&ndash;<div class="col-lg-6 col-md-12">
        <div class=" main-banner-courses-list">
          <div class="row">
            <div class="col-lg-6 col-md-6" *ngFor="let filed of allCourses">
              <div class="single-courses-box">
                <div class="courses-image">
                  &lt;!&ndash;            <a routerLink="/details-courses" class="d-block image">&ndash;&gt;
                  <a href="javascript:void(0)" (click)="goTo(filed.id)" class="d-block image">
                    <img [src]="urlImage + filed.image" [alt]="filed.title">
                  </a>
                  &lt;!&ndash;                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>&ndash;&gt;
                  <div class="price shadow">
                    <div>{{filed.price}}</div>
                    ر.س
                  </div>
                </div>
                <div class="courses-content pt-5">
                  &lt;!&ndash;<div class="course-author d-flex align-items-center">
                      <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                      <span>{{filed.teachersId}}</span>
                  </div>&ndash;&gt;
                  <h3><a routerLink="/details-courses">{{filed.title}}</a></h3>
                  <p>{{filed.body}}</p>
                  <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                    &lt;!&ndash;                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>&ndash;&gt;
                    &lt;!&ndash;<li *ngIf="filed.numberOfStudents"><i class='flaticon-people'></i> عدد الطلاب : {{filed.numberOfStudents}}
                    </li>&ndash;&gt;
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-shape1"><img src="assets/img/banner-shape1.png" alt="image"></div>
          <div class="banner-shape2"><img src="assets/img/banner-shape2.png" alt="image"></div>
          <div class="banner-shape3"><img src="assets/img/banner-shape3.png" alt="image"></div>
        </div>
      </div>&ndash;&gt;
    </div>
  </div>
</div>-->
<div class="row g-0 align-items-center banner-wrapper d-lg-flex d-none">
  <div class="col-lg-6">
    <div class="bgImage position-relative">
      <div class="overlay-img"></div>
    </div>
  </div>
  <div class="col-lg-6 position-relative">
    <div class="mx-auto main-banner-content p-4">
      <h1>معهد إبدأ التدريب واحدة من أهم الشركات المتخصصة في التدريب</h1>
      <p>تم تصميمها بمنتهى الاحترافية والمهارة والتكنولوجيا الحديثة لتاهيل الكوادر العربية لمستقبل افضل.</p>
    </div>
    <div class="shape10"><img src="assets/img/shape10.png" alt="image"></div>
  </div>
</div>
<div class="row g-0 align-items-center banner-wrapper d-flex d-lg-none">
  <div class="col-lg-6 position-relative">
    <div class="mx-auto main-banner-content p-4">
      <h1>معهد إبدأ التدريب واحدة من أهم الشركات المتخصصة في التدريب</h1>
      <p>تم تصميمها بمنتهى الاحترافية والمهارة والتكنولوجيا الحديثة لتاهيل الكوادر العربية لمستقبل افضل.</p>
    </div>
    <div class="shape10"><img src="assets/img/shape10.png" alt="image"></div>
  </div>
  <div class="col-lg-6">
    <div class="bgImage position-relative">
      <div class="overlay-img"></div>
    </div>
  </div>
</div>
